
*.pyc

#joealsubash

#emacs temp files

*~
*\#
\.\#*

# joealsubash clang and LSP files

.cache/*
build/*
CMakeFiles/*
CMakeGraphVizOptions.cmake
compile_commands.json
dbt-build-order.cmake
Makefile
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
dtpcontrolsConfig.cmake
dtpcontrolsConfigVersion.cmake
gather_info
